* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notification {
  width: 40%; 
  height: 15%;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: all 300ms ease;
  border: 2px solid red;
  border-radius: 15px;
  background-color: black;
  color: red;
}

.notification.active {
  transform: translateY(10%);
  opacity: 100%;
}

#drum-machine {
  margin: auto;
  width: 50%; 
  height: 50%; 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

#display {
  margin: 10px;
  width: 25%; 
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(15, 217, 211);
  color: rgb(107, 0, 168);
  text-align: center;
}

#drum-pads {
  width: 40%;
  display: grid; 
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

/* mind ro roca davadgam pads borderi gauchndes */
.drum-pad.active {
  border: 1px solid red;
}

