* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notification {
  width: 40%;
  height: 15%;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: all 300ms ease;
  border: 2px solid red;
  border-radius: 15px;
  background-color: black;
  color: red;
}

.notification.active {
  transform: translateY(10%);
  opacity: 100%;
}

#drum-machine {
  margin: auto;
  width: 80%;
  max-width: 700px;
  min-width: 400px;
  height: 50%;
  background: linear-gradient(
    180deg,
    hsla(205, 46%, 10%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(207, 41%, 27%, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 500ms ease;
  transition-delay: 1s;
}

#drum-machine:hover {
  transform: scale(102%);
  box-shadow: 0 5px 10px 5px black;
  transition-delay: 0ms;
}

#controls {
  margin: 20px auto;
  button {
    background-color: #1a1a1a;
    border: 1px solid cyan;
    outline: none;
    transition: all 300ms ease;
  }
  button:hover {
    transform: scale(95%);
  }
}

.powBtn.clicked {
  animation-name: activeGlow;
  animation-duration: 700ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes activeGlow {
  from {
    box-shadow: 0 0 0 0;
  }
  to {
    box-shadow: 0 0 30px 2px cyan;
  }
}

.on {
  color: green;
}
.off {
  color: red;
}

#display {
  margin: auto;
  width: 90%;
  height: 15%;
  color: #7209b7;
  border-radius: 10px;
  text-align: center;
  transition: all 800ms ease;
  transition-delay: 500ms;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#display > * {
  border: 2px solid;
  width: 45%;
  border-radius: 5px;
}

.onDisplay {
  background-color: #ffc300;
  box-shadow: 0 0 10px 2px #ffc300;
}
.offDisplay {
  background-color: #000814;
}

#drum-pads {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}